body {
  background-color: #f0f8ff; /* Light theme with blue accent */
}

.card {
  transition: transform 0.3s ease-in-out;
}
.card:hover {
  transform: scale(1.05);
}
.card-title {
  background: rgba(0, 0, 0, 0.7);
  padding: 5px;
  color: white;
  font-weight: bold;
}
